version: '2'
services:
  pihole:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
    - "53:53/tcp"
    - "53:53/udp"
    - "81:80"
    environment:
      ServerIP: "${IP}"
      TERM: "xterm"
    cap_add:
    - NET_ADMIN

